:root {
    --primary-color: #08251c;
    --main-text: #373435;
    --light-text: #fff;
    --secondary-color: #347619;
}

html {
    overflow-x: hidden !important;
}
.team-pic {
width: 235px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    overflow-x: hidden !important;
    line-height: 24px;
    font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn,
.trzp_primary_btn {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    padding: 0.875rem 2rem !important;
    border-radius: 10px !important;
}

.trzp_primary_btn {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}

#main_nav {
    height: 90px;
}

.trzp_nav_menu {
    list-style: none;
    gap: 2.65rem;
    padding: 0;
    margin: 0;
}

.trzp_nav_menu li a {
    text-decoration: none;
    color: #373435;
    font-weight: 500;
    font-size: 0.875rem;
    position: relative;
}

.trzp_nav_menu li a:hover::after {
    content: " ";
    display: inline;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    animation: navItemHoverBprder 0.3s linear;
}

.suc_main_container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("./assets/images/ellipse.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 250px;
}


.header_section {
    /* height: 80vh; */
    position: relative;
    padding: 4.3rem 0;
}

.header_section.header_bg {
    background-image: url("./assets/images/header-ecllipe.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 1320px;
}

.header_section .text_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header_section .text_container .title,
.header_section .text_container .detail {
    color: var(--main-text);
    margin-bottom: 0 !important;
}

.header_section .text_container .title {
    font-size: 5.625rem;
    font-weight: 700;
    line-height: 90px;
}

.bcs_header .text_comtainer .title {
    font-size: 4.375rem;
}

.header_section .text_container .detail {
    font-size: 1.25rem;
    font-weight: 400;
    width: 80%;
}

.header_section .img_container {
    position: relative;
    border-radius: 1.875rem;
    background-color: transparent;
    height: 600px;
    width: 550px;
}

.bcs_header .img_container {
    background-color: #6f3f1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_section .img_container img {
    border-radius: 1.875rem;
}

.header_section .img_container .icon_1,
.header_section .img_container .icon_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 20;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header_section .img_container .icon_1 img,
.header_section .img_container .icon_2 img {
    width: 125px;
    height: 125px;
}

.header_section .img_container .icon_1 {
    right: 30px;
    top: 5%;
}

.header_section .img_container .icon_2 {
    left: -50px;
    bottom: 30%;
}

.header_sub_text {
    text-align: center;
    margin-top: 7.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.header_sub_text .title,
.header_sub_text .detail {
    margin: 0 auto;
}

.header_sub_text .title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    width: 50%;
}

.header_sub_text .detail {
    font-size: 1.25rem;
    font-weight: 400;
    width: 70%;
}

.offering_list {
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    margin: 4rem auto;
    list-style: none;
    background-color: var(--primary-color);
    padding: 1.25rem 3.5rem;
    color: #ffffff;
}

.offering_list .item {
    font-size: 1.5rem;
    font-weight: 500;
}

.offering_list .item::after {
    content: "|";
    margin: 0 3rem;
}

.offering_list .item:last-child::after {
    content: none;
}

.header_more_text .title {
    color: var(--main-text);
    font-size: 3rem;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 1.5rem;
}

.header_more_text .detail {
    color: var(--main-text);
    font-size: 1.25rem;
    font-weight: 500;
}

.h_more_img img {
    border-radius: 1rem;
}

.section_header .title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    position: relative;
}

.section_header .title::before {
    content: url(./assets/icons/zipper.svg);
    position: absolute;
    bottom: -2.25rem;
    margin-left: -9px;
    left: 50%;
    z-index: 1;
}

.prohead {
    padding-top: 8.8rem;
}

.section_header .title::after {
    content: " ";
    display: inline-flex;
    position: absolute;
    margin-left: -71.5px;
    left: 50%;
    bottom: -0.875rem;
    background-color: var(--primary-color);
    height: 1px;
    width: 153px;
}

.work_card {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    margin-bottom: 3rem;
    height: 259px;
}

.work_card .number {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff1e7;
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.work_card .title {
    font-size: 1.875rem;
    font-weight: 500;
}

.work_card .detail {
    font-weight: 1.25rem;
    font-weight: 400;
    line-height: 24px;
}

.trzp_gallery_img {
    margin-bottom: 1.5rem;
}

.trzp_gallery_img img {
    width: 100%;
}

.why_section .title {
    font-size: 3rem;
    font-weight: 600;
    width: 60%;
}

.why_img_container {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.why_img_container .why_img {
    position: absolute;
    margin-left: -315.5px;
    left: 50%;
}

.why_card {
    margin-bottom: 2.65rem;
}

.why_card .icon_holder {
    min-width: 85px;
    min-height: 85px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #fff1e7;
}

.why_card .icon_holder img {
    width: 40px;
    height: 40px;
}

.why_card .title {
    font-size: 1.25rem;
    font-weight: 500;
}

.why_card .detail {
    font-size: 1rem;
    font-weight: 400;
}

.specs_img {
    position: relative;
    height: 400px;
}

.specs_img img {
    position: absolute;
    top: -50%;
}

.specs_text {
    width: 80%;
}

.specs_text .title {
    font-size: 2.5rem;
    font-weight: 600;
}

.specs_text .detail {
    font-size: 1.25rem;
    font-weight: 400;
}

.become_station {
    margin-top: 5rem;
    background-color: #347619;
    background-image: url("./assets/images/gray-ellipse.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 30px;
    padding: 5rem 6rem;
}

.become_station_text {
    color: #ffffff;
}

.become_station_text .title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 57.6px;
}

.become_station_text .title span {
    color: var(--light-text);
}

.become_station_text .detail {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
}

.become_station_text .btn {
    width: fit-content !important;
}

.plan_header {
    width: 65%;
    margin: 0 auto;
}

.plan_header .title {
    font-size: 3rem;
    font-weight: 700;
}

.plan_header .detail {
    font-size: 1.25rem;
    font-weight: 400;
}

.plan_header .detail span {
    display: block;
    color: var(--primary-color);
    margin-bottom: 3rem!important;
    font-size: 0.875rem;
    margin-top: 3rem;
}

.pricing_card {
    padding: 4.75rem 2.5rem;
    border-radius: 30px;
    border: 1px solid var(--secondary-color);
    text-align: center;
    position: relative;
    height: 338px;
}

.bottom-head {
    margin-top: 1.5rem!important;
}

.term-topic {
    font-weight: 500;
}

.term-head {
    font-weight: 500;
    font-size: 1.05rem;
}

.pricing_card .sub_title {
    font-size: 1.5rem;
    font-weight: 500;
}

.pricing_card .title {
    font-size: 3rem;
    font-weight: 700;
}

.pricing_card .detail {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.65rem 1.25rem;
    border-radius: 5px;
    color: #ffffff;
    background-color: var(--primary-color);
    width: fit-content;
    margin: 0 auto;
}

.pricing_card .icon_holder {
    background-color: var(--primary-color);
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 0;
    margin-left: -25px;
    left: 50%;
    height: 52px;
    width: 50px;
}

.free {
    margin: 0 auto;
}

.pricing_card.uniq_card {
    background-color: #d5ddda;
    border: none;
    padding-top: 1.9375rem;
}

.bronze {
    background-color: #5b403e;
    color: #fff;
}

.gold {
    background-color: #c09834;
    color: #fff;
}

.pricing_card.uniq_card .free_trial {
    background-color: #5a5456;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem 0.875rem;
    width: fit-content;
    margin: 0 auto;
}

.s_m {
    margin: 6rem 0;
}

.benefit_section .benefit_card {
    min-height: 260px;
}

.benefit_card {
    box-shadow: 0px 0px 30px 7px #0000000a;
    padding: 3rem;
    border-radius: 30px;
    color: var(--main-text);
}

.benefit_card .icon_holder {
    background-color: #fff1e7;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 65px;
    min-height: 65px;
}

.benefit_card .title {
    font-size: 1.65rem;
    font-weight: 500;
}

.benefit_card .detail {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 24px;
}

.small_s_section {
    background-color: #fff1e7;
    border-radius: 30px;
    padding: 3.75rem 3.5rem;
}

.table_container {
    background: #ffffff;
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 5.625rem 4.5rem;
}

.text_comtainer .f_items {
    color: #000000;
    font-size: 1.15rem;
}

.table_container .f_items h6 {
    font-weight: 600;
}

.table_container .f_items .f_i_grp {
    width: 75%;
    margin-bottom: 0;
}

.table_container .f_items .f_i_grp li {
    font-weight: 400;
}

.l_g {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

table {
    border-collapse: separate !important;
    border: none;
    border-spacing: 1rem !important;
}

td,
th {
    border: none;
}

.income_table tbody tr td {
    background-color: #fff1e7;
    color: #000000;
    font-weight: 400;
    font-size: 1.15rem;
    padding: 1.25rem 1.35rem;
    min-width: 165px;
    min-height: 190px;
}

.income_table tfoot tr td {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1rem 1.35rem;
}

.s_u_c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_comtainer {
    width: 65%;
    margin: 1.5rem auto;
}

.s_u_c .title {
    font-size: 7.5rem;
    line-height: 110%;
    font-weight: 700;
}

.s_u_c_img {
    width: 450px;
}

.setting_1,
.setting_2,
.setting_3,
.setting_4 {
    position: absolute;
    z-index: 1;
}

.setting_4 {
    top: 0;
    right: 40px;
    width: 300px;
}

.setting_1 {
    bottom: 110px;
    right: 140px;
    width: 160px;
}

.setting_3 {
    top: 20px;
    left: -1rem;
    width: 140px;
}

.setting_2 {
    bottom: 230px;
    left: 20%;
    width: 120px;
}

.download_text {
    width: 85%;
}

.download_text .title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 48px;
}

.form_section,
.faq_section {
    background-color: var(--main-text);
    border-radius: 30px;
    padding: 6.5rem 5.5rem;
}

.faq_section {
    background-color: #ffffff;
}

.form_section .title,
.faq_section .title {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.faq_section .title {
    color: var(--main-text);
}

.form_section label {
    color: #b8b8b8;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
    outline: 0 none !important;
    background-color: transparent !important;
}

.form_section .form-control::placeholder {
    color: #767676 !important;
}

.form_section .form-control {
    border: 1px solid #767676;
    background-color: #3d393a;
    height: 70px;
    border-radius: 10px;
    color: #ffffff !important;
}

.form_section textarea {
    height: unset !important;
}

.form_section .btn {
    height: 70px;
}

.download_img_section {
    background-image: url("./assets/images/orange-circle.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.mob_holder {
    width: 260px;
    height: 500px;
    border-radius: 34px;
    overflow: hidden;
}

.mob_holder img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#map {
    height: 450px;
    width: 100%;
    border-radius: 30px;
}

/* Footer */

.footer_trzp {
    background-color: var(--main-text);
    padding: 4.7rem 0 3.5rem;
    color: #ffffff;
}

.address {
    font-size: 1rem;
    font-weight: 400;
    width: 35%;
}

.socials .title {
    font-size: 0.875rem;
    font-weight: 300;
}

.social_icon_holder {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.footer_link_group {
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2rem;
}

.footer_link_group .mail_title {
    font-size: 0.875rem;
    font-weight: 300;
}

.footer_link_group li a {
    color: #ffffff;
    text-decoration: none;
}

.footer_link_group li:first-child {
    font-weight: 500;
    font-size: 1.25rem;
}

.footer_note {
    padding: 1.25rem 0 0;
    border-top: 0.5px solid #7f7f7f;
}

.footer_note .detail {
    font-weight: 300;
    font-size: 0.75rem;
    text-decoration: none;
    color: #ffffff;
}

.sec .title {
    font-size: 3rem;
    font-weight: 600;
}

.sec .sub_title {
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.sec .details {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.accordion-item {
    border: none !important;
}

.accordion-item .accordion-header .accordion-button.collapsed {
    color: #373435;
}

.accordion-item .accordion-header .accordion-button {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #b7b6b6;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary-color);
}

.accordion .accordion-body {
    color: #373435;
    font-size: 0.875rem;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    nav .logo img {
        width: 160px;
    }
    .trzp_nav_menu {
        gap: 1.65rem;
    }
    .header_section {
        /* height: 80vh; */
        position: relative;
        padding: 3.8rem 0;
    }
    .header_section.header_bg {
        background-image: url("./assets/images/mobile-header-bg.png");
        background-size: 100% 1000px;
    }
    .header_section .text_container {
        gap: 1rem;
    }
    .header_section .text_container .title {
        font-size: 4.5rem;
        line-height: 70px;
    }
    .header_section .text_container .detail {
        font-size: 1.15rem;
        width: 90%;
    }
    .header_section .img_container {
        border-radius: 1.875rem;
        height: 400px;
        width: 380px;
    }
    .header_section .img_container>img {
        height: auto;
        width: 380px;
    }
    .header_section .img_container .icon_1,
    .header_section .img_container .icon_2,
    .header_section .img_container .icon_1 img,
    .header_section .img_container .icon_2 img {
        width: 80px;
        height: 80px;
    }
    .header_section .img_container .icon_1 {
        right: -40px;
        top: 5%;
    }
    .header_section .img_container .icon_2 {
        left: -40px;
        bottom: 15%;
    }
    .header_sub_text {
        margin-top: 5.5rem;
    }
    .header_sub_text .title {
        font-size: 3.25rem;
        line-height: 3.2rem;
    }
    .header_sub_text .detail {
        font-size: 1.15rem;
        width: 70%;
    }
    .offering_list {
        margin: 3rem auto;
        padding: 1.15rem 2.5rem;
    }
    .offering_list .item {
        font-size: 1.25rem;
    }
    .offering_list .item::after {
        content: "|";
        margin: 0 2.5rem;
    }
    .header_more_text .title {
        font-size: 2.5rem;
        line-height: 40px;
        margin-bottom: 1.25rem;
    }
    .header_more_text .detail {
        font-size: 1.15rem;
    }
    .h_more_img img {
        width: 380px;
    }
    .section_header .title {
        font-size: 2.8rem;
    }
    .work_card {
        padding: 3rem 2.5rem;
        /* margin-bottom: 3rem; */
        height: unset;
    }

    .work_card .number {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        font-size: 2rem;
    }
    .work_card .title {
        font-size: 1.5rem;
    }
    .work_card .detail {
        font-weight: 1.15rem;
        line-height: 24px;
    }
    .trzp_gallery_img {
        margin-bottom: 1.5rem;
    }
    .trzp_gallery_img img {
        width: 100%;
    }
    .why_section .title {
        font-size: 2.8rem;
        width: 75%;
    }
    .why_img_container .circle_img {
        width: 400px;
    }
    .why_img_container .why_img {
        width: 500px;
        margin-left: -250px;
    }
    .why_card {
        margin-bottom: 2.65rem;
    }
    .why_card .icon_holder {
        min-width: 65px;
        min-height: 65px;
        width: 65px;
        height: 65px;
    }
    .why_card .title {
        font-size: 1.15rem;
    }
    .why_card .detail {
        font-size: 0.875rem;
    }
    .specs_img {
        height: 320px;
    }
    .specs_img img {
        top: -30%;
    }
    .specs_text {
        width: 90%;
    }
    .specs_text .title {
        font-size: 2.25rem;
    }
    .specs_text .detail {
        font-size: 1.15rem;
    }
    .become_station {
        margin-top: 6rem;
        padding: 3rem 4.5rem;
    }
    .become_station_text .title {
        font-size: 2.65rem;
        line-height: 48px;
    }
    .become_station_text .detail {
        font-size: 1.15rem;
        line-height: 28px;
    }
    .become_station .trzp_station {
        width: 400px;
    }
    .plan_header .title {
        font-size: 2.8rem;
    }
    .plan_header .detail {
        font-size: 1.15rem;
    }
    .pricing_card {
        padding: 3.2rem 2.8rem 2.5rem;
        height: 300px;
    }
    .pricing_card .sub_title {
        font-size: 1.15rem;
    }
    .pricing_card .title {
        font-size: 2.5rem;
    }
    .pricing_card .detail {
        font-size: 0.875rem;
        padding: 0.45rem 1rem;
    }
    .pricing_card .icon_holder {
        margin-left: -20px;
        height: 45px;
        width: 45px;
    }
    .s_m {
        margin: 5rem 0;
    }
    .benefit_section .benefit_card {
        min-height: unset;
    }
    .benefit_card {
        padding: 2.5rem;
        border-radius: 20px;
    }
    .benefit_card .icon_holder {
        min-width: 45px;
        min-height: 45px;
    }
    .benefit_card .icon_holder img {
        width: 30px;
        height: 30px;
    }
    .benefit_card .title {
        font-size: 1.35rem;
    }
    .benefit_card .detail {
        font-size: 1rem;
    }
    .small_s_section {
        border-radius: 20px;
        padding: 3rem 2.5rem 1rem;
    }
    .income_table tbody tr td {
        font-size: 1rem;
        /* padding: 1.25rem 1.35rem; */
    }
    .income_table tfoot tr td {
        font-size: 1.05rem;
        /* padding: 1rem 1.35rem; */
    }
    .download_text .title {
        font-size: 2.25rem;
    }
    #map {
        height: 350px;
        border-radius: 24px;
    }
    .table_container {
        border-radius: 20px;
        padding: 2.5rem 2.65rem;
    }
    .text_comtainer .f_items {
        font-size: 1rem;
    }
    .table_container .f_items .f_i_grp {
        width: 80%;
    }
    /* Footer */
    .footer_trzp {
        padding: 3.5rem 0 2.5rem;
    }
    .footer_trzp .f_logo {
        width: 170px;
        height: 70px;
    }
    .address {
        font-size: 0.875rem;
        width: 90%;
    }
    .socials .title {
        font-size: 0.875rem;
    }
    .social_icon_holder {
        min-width: 27px;
        min-height: 27px;
        width: 27px;
        height: 27px;
    }
    .footer_link_group {
        gap: 1rem;
        font-size: 0.95rem;
        margin-bottom: 2rem;
    }
    .footer_link_group .mail_title {
        font-size: 0.875rem;
    }
    .footer_link_group li:first-child {
        font-size: 1.15rem;
    }
    .footer_note {
        padding: 1rem 0 0;
    }
    .footer_note .detail {
        font-size: 0.75rem;
    }
    .form_section,
    .faq_section {
        padding: 5rem 4.5rem;
    }
    .form_section .title,
    .faq_section .title {
        font-size: 2.5rem;
    }
    .form_section label {
        font-size: 1rem;
    }
    /* Site under construction */
    .s_u_c .text_comtainer {
        width: 70%;
    }
    .s_u_c .title {
        font-size: 5rem;
    }
    .s_u_c_img {
        width: 370px;
    }
    .setting_4 {
        top: 0;
        right: 40px;
        width: 250px;
    }
    .setting_1 {
        bottom: 150px;
        right: 140px;
        width: 120px;
    }
    .setting_3 {
        top: 40px;
        left: -1rem;
        width: 120px;
    }
    .setting_2 {
        bottom: 230px;
        left: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 991px) {
    /* body {
    background-size: 100% 300px;
  } */
    .trzp_nav_menu {
        position: absolute;        
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .show_main_menu .trzp_nav_menu {
        z-index: 1000;
        right: 0;
        left: 0 !important;
        top: 82px;
        height: calc(100vh - 83px);
        background-color: #ffffff;
        opacity: 1;
        visibility: visible;
        display: flex;
        padding: 3.65rem 2rem !important;
        gap: 2rem !important;
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
    }
    .header_section.header_bg {
        background-image: url("./assets/images/mobile-header-bg.png");
        background-size: 100% 1500px;
        /* background-position: bottom; */
    }
    .header_section .text_container {
        width: 75%;
        margin-bottom: 3rem;
    }
    .header_section .text_container .title {
        font-size: 3.75rem;
        line-height: 60px;
    }
    .header_section .text_container .detail {
        font-size: 1.05rem;
    }
    .header_section .img_container,
    .header_section .img_container>img {
        width: 500px;
    }
    .header_section .img_container {
        height: 540px;
    }
    .header_section .img_container>img {
        height: auto;
    }
    .header_section .img_container .icon_1,
    .header_section .img_container .icon_2,
    .header_section .img_container .icon_1 img,
    .header_section .img_container .icon_2 img {
        width: 100px;
        height: 100px;
    }
    .header_section .img_container .icon_1 {
        right: -45px;
        top: 7%;
    }
    .header_section .img_container .icon_2 {
        left: -45px;
        bottom: 10%;
    }
    .header_sub_text {
        margin-top: 7rem;
    }
    .header_sub_text .title {
        font-size: 3rem;
        line-height: 3.2rem;
        width: 70%;
    }
    .header_sub_text .detail {
        font-size: 1.05rem;
        width: 85%;
    }
    .header_more_text {
        margin-bottom: 2.5rem;
    }
    .header_more_text .title {
        font-size: 2.25rem;
        line-height: 40px;
        margin-bottom: 1.25rem;
    }
    .header_more_text .detail {
        font-size: 1.05rem;
    }
    .h_more_img {
        width: 100%;
    }
    .h_more_img img {
        width: 100%;
    }
    .section_header .title {
        font-size: 2.5rem;
    }
    .work_card {
        padding: 2.15rem 2rem;
        margin-bottom: 1.5rem;
        height: 240px;
    }
    .work_card .number {
        min-width: 32px;
        min-height: 32px;
        width: 32px;
        height: 32px;
        font-size: 1.5rem;
    }
    .work_card .title {
        font-size: 1.25rem;
    }
    .work_card .detail {
        font-weight: 1rem;
        line-height: 20px;
    }
    .why_section .title {
        font-size: 2.8rem;
        width: 75%;
    }
    .why_img_container {
        margin-top: 5rem;
    }
    .why_img_container .circle_img {
        width: 400px;
    }
    .why_img_container .why_img {
        width: 500px;
        margin-left: -250px;
    }
    .why_card {
        margin-bottom: 2.65rem;
    }
    .why_card .icon_holder {
        min-width: 65px;
        min-height: 65px;
        width: 65px;
        height: 65px;
    }
    .why_card .title {
        font-size: 1.15rem;
    }
    .why_card .detail {
        font-size: 0.875rem;
    }
    .specs_img {
        height: auto;
    }
    .specs_img img {
        width: 520px;
        display: block;
        margin: 0 auto;
        position: unset;
        /* top: -30%; */
    }
    .specs_text {
        width: 90%;
    }
    .specs_text .title {
        font-size: 2.25rem;
    }
    .specs_text .detail {
        font-size: 1.15rem;
    }
    .become_station {
        padding: 3.5rem 5rem;
    }
    .become_station_text .title {
        font-size: 2.5rem;
    }
    .become_station_text .detail {
        font-size: 1.05rem;
        line-height: 20px;
    }
    .become_station .trzp_station {
        width: 400px;
        margin-top: 3rem;
    }
    .plan_header {
        width: 70%;
    }
    .plan_header .title {
        font-size: 2.5rem;
    }
    .plan_header .detail {
        font-size: 1.05rem;
    }
    .pricing_card {
        padding: 3rem 2.25rem;
        height: unset;
        margin-bottom: 2.5rem;
    }
    .pricing_card .sub_title {
        font-size: 1.05rem;
    }
    .pricing_card .title {
        font-size: 2.25rem;
    }
    .pricing_card .detail {
        font-size: 0.875rem;
        padding: 0.45rem 1rem;
    }
    .download_text {
        width: 90%;
    }
    .download_text .title {
        font-size: 2.5rem;
    }
    .form_section {
        padding: 4rem 3.5rem;
    }
    .faq_section {
        padding: 0 0 4rem;
    }
    .form_section .title,
    .faq_section .title {
        font-size: 2.25rem;
    }
    .form_section label {
        font-size: 0.95rem;
    }
    .form_section .form-control,
    .form_section .btn {
        height: 60px;
    }
    /* Site under construction */
    .s_u_c {
        height: calc(100vh - 200px);
    }
    .s_u_c_img {
        width: 400px;
    }
    .text_comtainer {
        width: 90%;
        margin: 1.5rem auto;
    }
    .s_u_c .title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    .setting_4 {
        top: 0;
        right: 40px;
        width: 150px;
    }
    .setting_1 {
        bottom: 150px;
        right: 20px;
        width: 120px;
    }
    .setting_3 {
        top: 100px;
        left: 0;
        width: 100px;
    }
    .setting_2 {
        bottom: 370px;
        left: 60px;
        width: 100px;
    }
}

@media screen and (max-width: 767.9px) {
    /* body {
    background-size: 100% 220px;
  } */
    .s_m {
        margin: 4rem 0;
    }
    .logo img {
        width: 150px;
    }
    .header_section {
        padding: 2.25rem 0;
    }
    .header_section.header_bg {
        background-size: 100% 1300px;
    }
    .header_section .text_container {
        width: 95%;
        margin-bottom: 3rem;
    }
    .header_section .text_container .title {
        font-size: 3rem;
        line-height: 48px;
    }
    .header_section .text_container .detail {
        font-size: 1rem;
    }
    .header_section .img_container {
        overflow: hidden;
        height: 430px;
        width: 100%;
    }
    .header_section .img_container>img {
        height: auto;
        width: 100%;
    }
    .header_section .img_container .icon_1,
    .header_section .img_container .icon_2 {
        width: 60px;
        height: 60px;
    }
    .header_section .img_container .icon_1 img,
    .header_section .img_container .icon_2 img {
        width: 80px;
        height: 80px;
    }
    .header_section .img_container .icon_1 {
        right: -15px;
        top: 7%;
    }
    .header_section .img_container .icon_2 {
        left: -30px;
        bottom: 10%;
    }
    .header_sub_text {
        margin-top: 4rem;
    }
    .header_sub_text .title {
        font-size: 2.25rem;
        line-height: 2.25rem;
        width: 90%;
    }
    .header_sub_text .detail {
        font-size: 1rem;
        width: 95%;
    }
    .offering_list {
        margin: 2.5rem auto;
        padding: 0.8rem 2rem;
    }
    .offering_list .item {
        font-size: 0.875rem;
    }
    .offering_list .item::after {
        margin: 0 2rem;
    }
    .header_more_text {
        margin-bottom: 1rem;
    }
    .header_more_text .title {
        font-size: 2.25rem;
        line-height: 40px;
        margin-bottom: 1.25rem;
    }
    .header_more_text .detail {
        font-size: 1rem;
    }
    .h_more_img {
        width: 100%;
    }
    .h_more_img img {
        width: 100%;
    }
    .section_header .title {
        font-size: 2.25rem;
    }
    .work_card {
        padding: 2rem;
        margin-bottom: 1.5rem;
        height: 285px;
    }
    .work_card .title {
        font-size: 1.15rem;
    }
    .why_section .title {
        font-size: 2.25rem;
        width: 85%;
    }
    .why_img_container {
        width: 100%;
        justify-content: center;
    }
    .why_img_container .circle_img {
        width: 320px;
    }
    .why_img_container .why_img {
        width: 100%;
        margin-left: -50%;
    }
    .why_card {
        margin-bottom: 2.5rem;
    }
    .why_card .title {
        font-size: 1.15rem;
    }
    .why_card .detail {
        font-size: 0.85rem;
    }
    .specs_img img {
        width: 100%;
        /* top: -30%; */
    }
    .specs_text {
        width: 100%;
    }
    .specs_text .title {
        font-size: 2.15rem;
    }
    .specs_text .detail {
        font-size: 1rem;
    }
    .become_station {
        padding: 2.5rem 2.25rem 1rem;
    }
    .become_station_text .title {
        font-size: 2.25rem;
    }
    .become_station_text .detail {
        font-size: 1rem;
    }
    .become_station .trzp_station {
        width: 320px;
        margin-top: 1rem;
    }
    .plan_header {
        width: 85%;
    }
    .plan_header .title {
        font-size: 2.25rem;
    }
    .plan_header .detail {
        font-size: 1rem;
    }
    .pricing_card {
        padding: 3rem 2rem;
        margin-bottom: 1.5rem;
    }
    .pricing_card .sub_title {
        font-size: 1rem;
    }
    .pricing_card .title {
        font-size: 2.15rem;
    }
    .pricing_card .detail {
        font-size: 0.75rem;
        padding: 0.4rem 0.8rem;
    }
    .pricing_card .icon_holder {
        margin-left: -20px;
        height: 40px;
        width: 40px;
    }
    .download_text {
        width: 98%;
    }
    .download_text .title {
        font-size: 2.25rem;
    }
    #map {
        height: 250px;
        border-radius: 16px;
    }
    .footer_trzp {
        padding: 3rem 0 2.25rem;
    }
    .footer_trzp .f_logo {
        width: 150px;
        height: 50px;
    }
    .address {
        font-size: 0.875rem;
        width: 70%;
    }
    .socials .title {
        font-size: 0.875rem;
    }
    .social_icon_holder {
        min-width: 24px;
        min-height: 24px;
        width: 24px;
        height: 24px;
    }
    .footer_link_group {
        gap: 1.15rem;
        font-size: 0.9rem;
        margin-bottom: 3rem;
    }
    .footer_link_group .mail_title {
        font-size: 0.875rem;
    }
    .footer_link_group li:first-child {
        font-size: 1.15rem;
    }
    .footer_note {
        padding: 1rem 0 0;
    }
    .footer_note .detail {
        font-size: 0.75rem;
    }
    .form_section {
        padding: 4rem 2.25rem;
    }
    .faq_section {
        padding: 1.5rem 0 4rem;
    }
    .form_section .title,
    .faq_section .title {
        font-size: 2.15rem;
    }
    .form_section label {
        font-size: 0.75rem;
    }
    .form_section .form-control,
    .form_section .btn {
        height: 50px;
        border-radius: 5px;
    }
    .benefit_card {
        padding: 2.5rem;
        border-radius: 20px;
    }
    .benefit_card .icon_holder {
        min-width: 45px;
        min-height: 45px;
    }
    .benefit_card .icon_holder img {
        width: 30px;
        height: 30px;
    }
    .benefit_card .title {
        font-size: 1.35rem;
    }
    .benefit_card .detail {
        font-size: 1rem;
    }
    .small_s_section {
        border-radius: 20px;
        padding: 3rem 2.5rem 1rem;
    }
    .table_container {
        border-radius: 20px;
        padding: 1.5rem 1.875rem;
    }
    .text_comtainer .f_items {
        font-size: 0.875rem;
    }
    .table_container .f_items .f_i_grp {
        width: 100%;
    }
    .income_table tbody tr td {
        font-size: 0.875rem;
        /* padding: 1.25rem 1.35rem; */
    }
    .income_table tfoot tr td {
        font-size: 1rem;
        /* padding: 1rem 1.35rem; */
    }
    .mob_holder {
        width: 170px;
        height: 300px;
        border-radius: 24px;
    }
    /* Site under construction */
    .s_u_c {
        height: calc(100vh - 200px);
    }
    .s_u_c_img {
        width: 320px;
    }
    .text_comtainer {
        width: 100%;
        margin: 1.5rem auto;
    }
    .s_u_c .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .setting_4 {
        top: 0;
        right: 20px;
        width: 100px;
    }
    .setting_1 {
        bottom: 110px;
        right: 0px;
        width: 70px;
    }
    .setting_3 {
        top: 100px;
        left: -1rem;
        width: 70px;
    }
    .setting_2 {
        bottom: 340px;
        left: 10px;
        width: 60px;
    }
    .accordion-item .accordion-header .accordion-button {
        padding-left: 0;
        padding-right: 0;
    }
    .accordion .accordion-body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .s_u_c_img {
        width: 100%;
    }
    .s_u_c .title {
        font-size: 2.25rem;
    }
    .setting_4 {
        right: 10px;
        width: 80px;
    }
    .setting_2 {
        bottom: 300px;
    }
}

@keyframes navItemHoverBprder {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
